table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%
  }
  
  td, th , h2{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd99;
    
  }

  button {
    padding: 10px
  }

  legend {
    padding: 10px
  }